<footer>
  <ul>
    <li>
      <p>Portfolio réalisé avec <i class="fab fa-angular"></i> Angular</p>
    </li>
    <li><i class="fas fa-phone"></i> 06 37 05 15 43</li>
    <li><a href="mailto:yusef.boulam@gmail.com"><i class="fas fa-envelope"></i> yusef.boulam@gmail.com</a></li>

    <li class="external-links">
      <a class="github-link" href="https://github.com/yusef-boulam" aria-label="GitHub">
        <i class="fa fa-github"></i>
      </a>
      <a class="linkedin-link" href="https://www.linkedin.com/in/yusef-boulam/" aria-label="LinkedIn">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li><i class="fas fa-home"></i> Nice</li>
  </ul>
</footer>